{% extends 'one_col.html' %}
{% load static %}
{% block head_title %}Сбросить пароль | {{ block.super }}{% endblock head_title %}
{% block main_class %}{{ block.super }} login-page{% endblock main_class %}
{% block page_header %}
    <div class="page-header">
        <div class="container">
            <h1 class="page-title mb-0">Мой акаунт</h1>
        </div>
    </div>
{% endblock page_header %}
{% block breadcrumb %}
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'home_page' %}">Главная</a></li>
                <li>Мой акаунт</li>
            </ul>
        </div>
    </nav>
{% endblock breadcrumb %}
{% block page_content %}
    <!-- Start of Page Content -->
    <div class="page-content">
        <div class="container">
            <div class="login-popup">
                <div class="tab tab-nav-boxed tab-nav-center tab-nav-underline">
                    <ul class="nav nav-tabs text-uppercase" role="tablist">
                        <li class="nav-item">
                            <a href="login.html#sign-in" class="nav-link active">Сбросить пароль</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <p class="tab-pane active" id="sign-in">
                            {% if validlink %}
                                {% if form.errors %}
                                    <p class="text-center">{{ form.errors.error }}</p>
                                {% endif %}
                                <form action="{% url 'password_reset_confirm' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Введите новый пароль *</label>
                                        {{ form.new_password1 }}
                                    </div>
                                    <div class="form-group mb-0">
                                        <label>Подтверждение нового пароля *</label>
                                        {{ form.new_password2 }}
                                    </div>
                                    <button type="submit" class="button btn btn-primary">Подтвердить</button>
                                </form>
                            {% else %}
                                <p>
                                    Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась.
                                    Пожалуйста, запросите сброс нового пароля.
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
