{% extends 'one_col.html' %}
{% load i18n static %}
{% block head_title %}{% trans 'Подтверждение Email' %} | {{ block.super }}{% endblock head_title %}
{% block breadcrumb %}
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="{% url 'home_page' %}">
                        {% trans 'Главная' %}
                    </a>
                </li>
                <li>
                    {% trans 'Мой профиль' %}
                </li>
            </ul>
        </div>
    </nav>
{% endblock breadcrumb %}
{% block page_content %}
    <!-- Start of Page Content -->
    <div class="page-content">
        <div class="container">
            <section class="introduce mt-10 mb-10 pb-10">
                <p class="awards-wrapper">
                    {% trans 'Пожалуйста проверьте свою почту чтобы завершить регистрацию' %}
                </p>
            </section>
        </div>
    </div>
{% endblock page_content %}
